{
    "printWidth": 100,
    "tabWidth": 4,
    "endOfLine": "auto",
    "trailingComma": "es5",
    "semi": true,
    "singleQuote": false,
    "useTabs": false,
    "singleAttributePerLine": false,

    "plugins": ["prettier-plugin-multiline-arrays"],

    "overrides": [
        {
            "files": "*.md",
            "options": {
                "printWidth": 200,
                "tabWidth": 2,
                "proseWrap": "preserve"
            }
        },
        {
            "files": ["*.ini", "*.cfg"],
            "options": {
                "iniSpaceAroundEquals": true,
                "parser": "ini",
                "printWidth": 80,
                "plugins": ["prettier-plugin-ini"]
            }
        },
        {
            "files": [".prettierrc"],
            "options": {
                "parser": "jsonc",
                "trailingComma": "none"
            }
        }
    ]
}
