#::: Configuration for pre-commit hooks: https://pre-commit.com/

repos:
    - repo: local
      hooks:
          - id: cache-clean
            name: cache-clean (script)
            entry: ./.config/scripts/cache_clean.sh
            language: script
            pass_filenames: false
            args: ["."]

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: check-merge-conflict
          - id: check-vcs-permalinks
          - id: check-added-large-files
            args: ["--maxkb=1000"]
          - id: check-case-conflict
          - id: check-docstring-first
          - id: check-ast
          - id: fix-encoding-pragma
            args: ["--remove"]
          - id: name-tests-test
            args: ["--pytest-test-first"]
          - id: check-toml
          - id: check-yaml
          # - id: detect-aws-credentials
          - id: detect-private-key
          - id: end-of-file-fixer
          - id: trailing-whitespace
            args: ["--markdown-linebreak-ext=md"]
          - id: mixed-line-ending
            args: ["--fix=lf"]

    - repo: https://github.com/python-poetry/poetry
      rev: 1.7.0
      hooks:
          - id: poetry-check

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: "v4.0.0-alpha.8"
      hooks:
          - id: prettier
            exclude_types: [markdown, python]

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.2.1
      hooks:
          - id: ruff
            types_or: [python, pyi, jupyter]
            args: [--fix]
          - id: ruff-format
            types_or: [python, pyi, jupyter]

    # - repo: https://github.com/koalaman/shellcheck-precommit
    #   rev: v0.9.0
    #   hooks:
    #       - id: shellcheck
